
// Base Colors
$color__light__grey: #f5f7f8;
$color__white: #fff;
$color__grey: #333;
$color__light__white: #aebfb9;
$color__black: #000;
// Text
$color__primary__text: #171f41;
$color__primary__title: #a40eff;
$color__primary__subtitle: #2e1f54;

// Background
$color__primary__background: #a40eff;
$color__primary__background__dark: #eaecf1;

// Icon
$color__icon__background: #171f41;

// Footer
$color__footer: #0e0f10;
